{% extends 'mailing/base.html' %}
{% block content %}

<div class="container">
    <div class="col-12">
        <div class="bg-body-tertiary p-3 rounded">
            <h1>Сервис почтовой рассылки</h1>
            <p class="lead">Создавайте рассылки и отправляйте их клиентам</p>
            <a class="btn btn-success" href="{% url 'mailing:message_create' %}">Создать тему</a>
            <a class="btn btn-success" href="{% url 'mailing:client_create' %}">Добавить получателя</a>
        </div>
        <hr>
        <br>
        <hr>
        <div class="bg-body-tertiary p-3 rounded">
            <a href="{% url 'mailing:messages_list' %}" class="btn btn-primary">Сообщения</a>
            <a href="{% url 'mailing:clients_list' %}" class="btn btn-primary">Клиенты</a>
            <a href="#" class="btn btn-primary">Рассылки</a>
            <a href="#" class="btn btn-primary">Пользователи</a>
            <a href="#" class="btn btn-primary">Лог</a>

            <br>
            <br>
            <a href="#" class="btn-success">Текущие рассылки</a>
            <br>
            <a href="#" class="btn-success">История рассылок</a>
            <br>
        </div>
    </div>
</div>


{% endblock %}