{% extends 'mailing/base.html' %}
{% block content %}

<div class="container">
    <div class="container">
        <h2>Детали рассылки</h2>
        <br>
        <a class="btn btn-success" href="{% url 'mailing:mailing_list' %}">назад</a>
    </div>
    <br>
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">

                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Название:</td>
                                <td>{{ object.name }}</td>
                            </tr>
                            <tr>
                                <td>Тема сообщения:</td>
                                <td>{{ object.message.title }}</td>
                            </tr>
                            <tr>
                                <td>Получатели:</td>
                                <td>
                                    {% for client in clients %}
                                    "{{ client.client_email }}" -
                                    ({{ client.client_name }})
                                    <br>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Старт рассылки:</td>
                                <td>{{ object.start_time }}</td>
                            </tr>
                            <tr>
                                <td>Периодичность:</td>
                                <td>{{ object.periodicity }}</td>
                            </tr>
                            <tr>
                                <td>Завершение рассылки:</td>
                                <td>{{ object.end_time }}</td>
                            </tr>
                            <tr>
                                <td>Текущий статус:</td>
                                <td>{{ object.status }}</td>
                            </tr>
                            <tr>
                                <td>Создатель:</td>
                                <td>{{ object.owner }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}