{% extends 'mailing/base.html' %}
{% block content %}

<div class="container">
    <h2>Список сообщений</h2>
    <br>
    <a class="btn btn-success" href="{% url 'mailing:message_create' %}">Создать тему</a>
</div>
<br>
<div class="container">
    <div class="bg-body-tertiary p-3 rounded">
        {% for object in object_list %}
        <div class="col-6">
            Тема: {{ object.title }}
            <br>
            Сообщение: {{ object.text }}
        </div>
        <a href="{% url 'mailing:messages_edit' object.pk %}" class="btn-primary">редактировать</a>
        /
        <a href="{% url 'mailing:messages_delete' object.pk %}" class="btn-primary">удалить</a>
        <hr>
        {% endfor %}

    </div>
</div>

{% endblock %}